body {
  background: linear-gradient(to right, #4b0082, #6a1b9a);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}


.container {
  margin-top: 100px;
}

.btn {
  background: #ffb300;
  color: #000;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #fff;
}

.form-container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  margin: 50px auto;
  width: 400px;
  border-radius: 10px;
}

input, button {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  background: #ffb300;
  color: #000;
  cursor: pointer;
}
